<div class="container-fluid">

   <div class="row">
      <div class="col-md-12">
         <div id="playerElement" style="width:100%; height:0; padding:0 0 56.25% 0">
         </div>
      </div>

   </div>
  </div>

<script >
   $(document).on('turbolinks:load',function() {
     
      
   WowzaPlayer.create('playerElement',
      {
      "license":"PLAY1-94nX9-WjkJY-fwhpz-Cd8aA-9wmMD",
      "title":"",
      "description":"",
      "sourceURL":"http://aletacloud.com:1935/vod/_definst_/mp4:<%=@event.id%>/default.mp4/playlist.m3u8",
      "autoPlay":true,
      "volume":"75",
      "mute":false,
      "loop":false,
      "audioOnly":false,
      "uiShowQuickRewind":true,
      "uiQuickRewindSeconds":"30"
      }
   );
   
   
   
   
   
   });
</script>
<style>
   
    #playerElement 
   {
    margin-top: 0px !important;
   }
   }
   #playerElement img
   {
   width: 100px;
   position: absolute;
   z-index: 100;
   top: 90px;
   }
</style>