<div class="modal fade" id="myModal-links" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Iframe</h4>
        </div>
        <div class="modal-body">
          <p>Iframe del Evento</p>
          <textarea class="iframe form form-control" style = "height:100px;"name=""></textarea> 
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>
  