<div class="modal fade" id="myModal-links" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Link  e Iframe</h4>
        </div>
        <div class="modal-body">
          <p>Iframe</p>
          <textarea class="iframe form form-control" style = "height:100px;"name=""></textarea> 
          <br>
           <p>Link para compartir</p>
          <input  class="link1 form form-control" type="text" name="" >
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>

 