<%
if action_name == "index" || action_name == "admin"
  a = "active"
  b = "no-active"
  c = "no-active"
else
  a = "no-active"
  b = "no-active"
  c = "active"

end %>

<ul class="nav nav_a">
    <li class=""><a class="<%=a%>" style = "width:115px" href="/events">Lives</a></li>
  
    <li class=""><a  class="<%=c%>" style = "width:115px" href="/events_ondemand">On Demands</a></li>

  </ul>

  <div class="tab-content">

  </div>


<style >
.nav_a li
{
  display: inline-block;
 


}  

</style>