<p><strong>Nombre:  </strong><%=@question.name%></p>
<p><strong>Email: </strong><%=@question.email%></p> 
<p><strong>Asunto: </strong><%=@question.affair%></p> 
<p><strong>Pregunta: </strong> <%=@question.description%></p> 