<!DOCTYPE html>
<html>
  <head>
    <title>CardinalStreamV2</title>
    <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <meta name="turbolinks-cache-control" content="no-cache">
         <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'https://player.wowza.com/player/latest/wowzaplayer.min.js', 'data-turbolinks-track': 'reload' %>
   
    <script type="text/javascript" src="/assets/jquery.tinyscrollbar.js"></script>
  

  </head>
<style>
	
body{

  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), 
  url('/../../images/fondo_application.jpg')no-repeat center top;
  background-size: cover;

}
h1
{
	color: white;
	font-weight: bold;
}
.row
{
 margin-top:200px;
}
</style>
  <body>
  <div class="container">
  <div class="row">
  	<div class="col-md-8 col-md-offset-2">
     <h1>NO HAY NINGUN EVENTO LIVE PROGRAMADO</h1>
	
</div>
  </div>
  	
  </div>


  </body>
</html>




